.additional-products-container {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  padding: 0 20px 35px 20px;
}

.additional-products__title {
  margin-bottom: 36px;
  color: $base-text-color;
  font-size: 24px;
  font-family: $Oswald;
  font-weight: 400;
  line-height: 24px;
}

.additional-products__list {
  display: flex;
  flex-direction: column;
}

.additional-products__item {
  box-sizing: border-box;
  min-height: 130px;
  padding-top: 12px;
  padding-bottom: 19px;
  border-bottom: 1px $special-grey solid;
  display: flex;
  flex-direction: column;

  &:first-child {
    border-top: 1px $special-grey solid;
  }
}

.additional-products__name {
  margin-bottom: 13px;
  color: #222222;
  font-size: 16px;
  font-family: $Oswald;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 16px;
}

.additional-products__features {
  margin-bottom: 15px;
  color: $addithional-text-color;
  font-size: 14px;
  font-family: $Lato;
  font-weight: 400;
  line-height: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.additional-products__button {
  width: 280px;
}

.additional-products__bonus-card {
  box-sizing: border-box;
  margin-top: 35px;
  min-height: 290px;
  padding-top: 58px;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("/source/img/catalog/png/gift-background.png");
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: start;
  align-items: center;
}

.additional-products__bonus-description {
  color: #ffffff;
  font-size: 16px;
  font-family: $Lato;
  font-weight: 400;
  line-height: 20px;
}

@media (min-width: $tablet-width) {
  .additional-products-container {
    width: 768px;
    padding: 0 30px 75px 30px;
  }

  .additional-products__title {
    margin-bottom: 80px;
    margin-left: 40px;
    font-size: 36px;
    line-height: 36px;
  }

  .additional-products__item {
    min-height: 140px;
    padding: 26px 37px 28px 37px;
    border-bottom: none;
    border: 1px $special-grey solid;
    display: grid;
    grid-template-columns: 316px 316px;
    grid-template-rows: auto 40px;
    grid-template-areas:
      "name features"
      "button button";
  }

  .additional-products__name {
    font-size: 20px;
    line-height: 20px;
    grid-area: name;
    align-self: baseline;
  }

  .additional-products__features {
    font-size: 16px;
    line-height: 20px;
    grid-area: features;
    align-self: baseline;
    justify-content: end;
    gap: 50px;
  }

  .additional-products__button {
    width: 632px;
    grid-area: button;
  }

  .additional-products__bonus-card {
    margin-top: 70px;
    min-height: 200px;
    padding: 0;
    padding-left: 77px;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("/source/img/catalog/png/gift-background-large.png");
    flex-direction: row;
    gap: 264px;
  }

  .additional-products__bonus-description {
    width: 161px;
  }
}

@media (min-width: $desktop-width) {
  .additional-products-container {
    box-sizing: border-box;
    width: 1220px;
    padding: 0;
    margin-bottom: 87px;
    display: grid;
    grid-template-columns: 975px 245px;
  }

  .additional-products__title {
    margin-left: 0;
  }

  .additional-products__list {
    width: 895px;
  }

  .additional-products__item {
    padding: 0;
    min-height: 70px;
    display: grid;
    grid-template-columns: 325px 325px 244px;
    grid-template-rows: 72px;
    grid-template-areas: "name features button";
    align-items: center;
    justify-content: center;
    border: none;
    border-top: 1px $special-grey solid;
    border-bottom: 1px $special-grey solid;
  }

  .additional-products__name {
    align-self: center;
    margin: 0;
  }

  .additional-products__features {
    margin: 0;
    display: grid;
    grid-template-columns: 243px 82px;
    align-self: center;
    justify-content: start;
    gap: 0;
  }

  .additional-products__button {
    width: 244px;
  }

  .additional-products__bonus-card {
    margin-top: 0;
    min-height: 288px;
    height: 100%;
    padding: 0;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("/source/img/catalog/png/gift-background.png");
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    flex-direction: column;
    justify-content: center;
    gap: 46px;
    align-items: center;
  }

  .additional-products__bonus-description {
    width: 161px;
    text-align: center;
  }
}
