.contacts-container {
  padding-top: 20px;
}

.contacts-container--main {
  background-color: $base-bg-color;
}

.contacts__title {
  display: block;
  width: 140px;
  min-height: 60px;
  color: #111111;
  font-size: 16px;
  font-family: $Oswald;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 20px;
}

.contacts__adress {
  display: block;
  width: 140px;
  min-height: 60px;
  color: $addithional-text-color;
  font-size: 14px;
  font-family: $Lato;
  font-weight: 400;
  line-height: 20px;
}


.contacts__map {
  height: 362px;
  background-image: url("../img/index/png/maps.png");
  background-position: center;
  background-repeat: no-repeat;
}
