.contacts-container-text {
  padding: 26px 20px;
  display: flex;
  justify-content: space-between;
}

.contacts-container--main {
  background-color: $base-bg-color;
}

.contacts__title {
  width: 140px;
  min-height: 60px;
  color: #111111;
  font-size: 16px;
  font-family: $Oswald;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 20px;
}

.contacts__adress {
  width: 140px;
  min-height: 60px;
  color: $addithional-text-color;
  font-size: 14px;
  font-family: $Lato;
  font-weight: 400;
  line-height: 20px;
}


.contacts__map {
  height: 362px;
  background-image: url("../img/index/png/maps.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: $tablet-width) {
  .contacts-container-text {
    padding: 61px 70px;
    margin: 0;
  }

  .contacts__title {
    width: 163px;
    min-height: 78px;
    font-size: 20px;
    line-height: 26px;
  }

  .contacts__adress {
    display: block;
    width: 157px;
    min-height: 80px;
    color: $addithional-text-color;
    font-size: 16px;
  }

  .contacts__map {
    height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .contacts-container {
    position: relative;
  }

  .contacts-container-text {
    box-sizing: border-box;
    width: 565px;
    min-height: 199px;
    background-color: $base-bg-color;
    position: absolute;
    top: 95px;
    left: 110px;
    padding: 60px 80px;
    margin-bottom: 0;
  }
}

