.footer-container {
  background-color: $additional-bg-color;
  width: 320px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .footer-container {
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .footer-container {
    width: 1440px;
  }
}
