.form {
  color: $addithional-text-color;
  font-size: 16px;
  font-family: $Oswald;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 18px;
}

.form-container {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
}

.form__title {
  margin: 27px 20px 37px 20px;
  color: $base-text-color;
  font-size: 36px;
  font-family: $Oswald;
  font-weight: 400;
  line-height: 36px;
  text-transform: none;
}

.form__subtitle {
  color: $base-text-color;
  font-size: 24px;
  line-height: 26px;
  word-wrap: normal;
  text-transform: none;
}

.form__subtitle--contact {
  width: 187px;
}

.form__subtitle--comment {
  margin-top: 0;
}

.form__description {
  margin: 0 20px 15px 20px;
  color: $base-text-color;
  font-size: 14px;
  font-family: $Oswald;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 18px;
}

.form__fieldset {
  margin: 0;
  box-sizing: border-box;
  padding: 24px 20px;
  border: none;
}

.form__fieldset--radio {
  margin: 0;
  margin-bottom: 26px;
  padding: 22px 20px;
  border-top: 1px #d9d9d9 solid;
  border-bottom: 1px #d9d9d9 solid;
}

.control {
  position: relative;
}

.control-label {
  margin: 5px 0 5px 45px;

  @media (min-width: $tablet-width) {
    margin: 5px 0 5px 60px;
  }
}

.form__item {
  margin-bottom: 14px;
}

.form__item label {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 13px;
}

.form__item input {
  box-sizing: border-box;
  width: 100%;
  height: 45px;
  padding: 14px 15px 13px 15px;
  border: 1px #e7e7e7 solid;
  font-size: 16px;
  font-family: $Oswald;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    height: 52px;
  }
}

.form__item--radio label {
  margin-bottom: 13px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 15px;
}

.form__item--radio:last-child label {
  margin-bottom: 0;
}

.radio-mark {
  content: "";
  box-sizing: border-box;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: $base-bg-color;
  border: 1px #cdcdcd solid;
  border-radius: 50%;
  left: 0;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.control-input[type="radio"]:checked + .radio-mark {
  background-image: url("/source/img/form/svg/radio-button.svg");
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}

.control-mark {
  content: "";
  box-sizing: border-box;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: $base-bg-color;
  border: 2px #cdcdcd solid;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.control-input[type="checkbox"]:checked + .control-mark {
  background-image: url("/source/img/form/svg/checkbox-button.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

textarea {
  box-sizing: border-box;
  margin: 27px 20px 23px 20px;
  padding: 14px 14px;
  width: 280px;
  min-height: 150px;
  resize: vertical;
  border: 1px #cdcdcd solid;
  font-size: 16px;
  font-family: $Oswald;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 18px;
}

.form__item--checkbox label {
  margin-bottom: 13px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 15px;
}

.form__item--checkbox input {
  width: 30px;
  height: 30px;
  background-color: $base-bg-color;
  border: 1px #cdcdcd solid;
}

.form__button {
  margin: 12px 20px 21px 20px;
  width: 280px;
}

.form__note {
  margin-bottom: 32px;
  text-align: center;
  color: $base-text-color;
  font-size: 14px;
  font-family: $Lato;
  font-weight: 400;
  line-height: 16px;
  text-transform: none;
}

@media (min-width: $tablet-width) {
  .form {
    font-size: 20px;
    line-height: 30px;
  }

  .form-container {
    width: 628px;
    margin: 0 auto;
    // margin-bottom: 60px;
  }

  .form__title {
    margin: 65px 0 54px 0;
    font-size: 60px;
    line-height: 60px;
  }

  .form__subtitle {
    margin: 0;
    font-size: 36px;
    line-height: 36px;
  }

  .form__subtitle--contact {
    width: auto;
  }

  .form__description {
    width: 325px;
    margin: 0;
    margin-bottom: 66px;
    font-size: 20px;
    line-height: 30px;
  }

  .form__item {
    margin-bottom: 20px;
  }

  .form__fieldset {
    margin: 76px 0 65px 0;
    padding: 0;
    border: none;
  }

  .form__fieldset--radio {
    margin: 0;
    margin-bottom: 65px;
    padding: 23px 27px;
    border: 1px #d9d9d9 solid;
  }

  textarea {
    margin: 87px 0 65px 0;
    padding: 11px 20px;
    width: 628px;
    min-height: 175px;
    font-size: 20px;
    line-height: 30px;
  }

  .form-checkbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: start;
  }

  .form__button-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: start;
    align-items: center;
    margin-bottom: 60px;
  }

  .form__button {
    width: 284px;
    min-height: 54px;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 26px;
    margin: 0;
  }

  .form__item--checkbox label {
    width: 298px;
    margin: 0;
    gap: 20px;
  }

  .form__item--checkbox input {
    width: 40px;
    height: 40px;
  }

  .form__note {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .form-container {
    width: 1220px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 80px;
  }

  .form__preface {
    width: 1220px;
  }

  .form__title {
    margin-top: 77px;
    margin-bottom: 55px;
  }

  .form__subtitle {
    // Отступы отличаются в разделах формы
    font-size: 36px;
    line-height: 36px;
  }

  .form__discription {
    margin-bottom: 76px;
  }

  .form__fieldset {
    margin-bottom: 70px;
  }

  .form__list--contacts {
    width: 1220px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 80px;
  }

  .form__item--contacts {
    width: 570px;
  }

  .form__personal-info {
    margin: 0;
    width: 570px;
  }

  .form__fieldset--radio {
    width: 570px;
  }

  .form-checkbox {
    width: 1220px;
    gap: 0;
  }

  textarea {
    width: 1220px;
  }

  .form__item--checkbox label {
    width: 325px;
  }

  .form__item--checkbox:last-child label {
    width: 245px;
  }

  .form__button-wrapper {
    width: 1220px;
    margin-bottom: 79px;
    justify-content: start;
  }

  .form__button {
    margin: 0;
    width: 570px;
  }

  .form__note {
    display: block;
    text-align: start;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 0;
  }
}
