.form {
  color: $addithional-text-color;
  font-size: 16px;
  font-family: $Oswald;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 18px;
}

.form-container {
  width: 280px;
  margin: 0 auto;
}

.form__title {
  margin-bottom: 37px;
  color: $base-text-color;
  font-size: 36px;
  font-family: $Oswald;
  font-weight: 400;
  line-height: 36px;
}

.form__subtitle {
  // Отступы отличаются в разделах формы
  margin-bottom: 35px;
  color: $base-text-color;
  font-size: 24px;
  line-height: 26px;
}

.form__discription {
  margin-bottom: 39px;
  color: $base-text-color;
  font-size: 14px;
  font-family: $Oswald;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 18px;
}

.form__fieldset {
  margin-bottom: 24px;
}

@media (min-width: $tablet-width) {
  .form {
    font-size: 20px;
    line-height: 30px;
  }

  .form-container {
    width: 628px;
    margin: 0 auto;
    margin-bottom: 60px;
  }

  .form__title {
    margin-top: 65px;
    margin-bottom: 54px;
    font-size: 60px;
    line-height: 60px;
  }

  .form__subtitle {
    // Отступы отличаются в разделах формы
    margin-bottom: 76px;
    font-size: 36px;
    line-height: 36px;
  }

  .form__discription {
    margin-bottom: 66px;
    font-size: 20px;
    line-height: 30px;
  }

  .form__fieldset {
    margin-bottom: 65px;
  }
}

@media (min-width: $desktop-width) {
  .form-container {
    width: 1220px;
    margin: 0 auto;
    margin-bottom: 79px;
  }

  .form__title {
    margin-top: 77px;
    margin-bottom: 55px;
  }

  .form__subtitle {
    // Отступы отличаются в разделах формы
    margin-bottom: 76px;
    font-size: 36px;
    line-height: 36px;
  }

  .form__discription {
    margin-bottom: 76px;
  }

  .form__fieldset {
    margin-bottom: 70px;
  }
}
