.hero {
  width: 100%;
  margin: 0 auto;
}

.hero__wrapper {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  min-width: 320px;
  min-height: 302px;
  margin: 0 auto;
  margin-bottom: 137px;
  padding: 27px 35px;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/index/jpeg/hero-background.jpg");
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, contain;
  text-align: center;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}

.hero__title {
  width: 250px;
  margin: 0 auto;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin-bottom: 25px;
}

.hero__slogan {
  width: 250px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.hero__button {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.hero__img-container {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 280px;
  height: 270px;

  @media (min-width: $tablet-width) {
    position: absolute;
    width: 709px;
    height: 610px;
    top: 570px;
    left: 50%;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    width: 552px;
    height: 500px;
    top: 150px;
    left: 740px;
  }
}


@media (min-width: $tablet-width) {
  .hero {
    width: 708px;
    min-height: 810px;
    margin: 0 auto;
  }

  .hero__wrapper {
    min-height: 180px;
    width: 708px;
    padding: 65px 90px 0 90px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 50px;
    background-image: none;
    background-color: $base-bg-color;
    text-align: start;
    color: $base-text-color;
  }

  .hero__title {
    width: 420px;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    margin-left: 0;
    margin-bottom: 40px;
    padding: 0;
  }

  .hero__slogan {
    width: 283px;
    font-size: 20px;
    line-height: 20px;
    margin-left: 0;
    text-transform: uppercase;
    text-align: start;
  }

  .hero__button {
    position: relative;
    z-index: 2;
    width: 244px;
    margin: 0 0 526px 90px;
    padding: 14px 26px;
    font-size: 20px;
    line-height: 26px;
  }
}

@media (min-width: $desktop-width) {
  .hero {
    width: 1220px;
    margin: 0 auto;
    min-height: 490px;
  }

  .hero__wrapper {
    box-sizing: border-box;
    min-height: 180px;
    width: 1220px;
    margin: 0 auto;
    padding: 0;
    padding-left: 80px;
    background: transparent;
    text-align: start;
    color: $base-text-color;
  }

  .hero__title {
    width: 414px;
    font-size: 50px;
    line-height: 60px;
    font-weight: 400;
    margin: 110px 0 40px 0;
  }

  .hero__slogan {
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 52px;
  }

  .hero__button {
    position: relative;
    z-index: 2;
    width: 244px;
    margin: 0 0 526px 80px;
  }
}
