.hero {
  width: 320px;
  margin: 0 auto;
}

.hero__wrapper {
  position: relative;
  box-sizing: border-box;
  min-height: 302px;
  width: 100%;
  margin-bottom: 137px;
  padding: 27px 35px;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/index/jpeg/hero-background.jpg");
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  text-align: center;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}

.hero__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin-bottom: 25px;
}

.hero__slogan {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.hero__img {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero__button {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .hero {
    width: 768px;
    margin: 0 auto;
  }

  .hero__wrapper {
    min-height: 180px;
    width: 768px;
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    padding-left: 120px;
    background-image: none;
    background-color: $base-bg-color;
    text-align: start;
    color: $base-text-color;
  }

  .hero__title {
    width: 414px;
    font-size: 50px;
    line-height: 60px;
    font-weight: 400;
    margin-bottom: 40px;
  }

  .hero__slogan {
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
  }

  .hero__img {
    position: absolute;
    top: 360px;
    left: 50%;

  }

  .hero__button {
    position: relative;
    z-index: 2;
    width: 244px;
    margin: 0 0 526px 120px;
  }
}

@media (min-width: $desktop-width) {

}
