.logo__text--header {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo__text--footer {
  fill: #111111;

  &:focus {
    fill: #3e3e3e;
  }

  &:active {
    fill: #6b6b6b;
  }
}

@media (min-width: $tablet-width) {
  .logo__text--header {
    position: absolute;
    top: 41px;
    left: 103px;
    // transform: translateY(-50%);
  }
}

@media (min-width: $desktop-width) {
  .logo__text--header {
    position: absolute;
    top: 74px;
    left: 194px;
    transform: translateY(-50%);
  }
}
