.main-footer-container {
  background-color: $additional-bg-color;
  width: 320px;
  margin: 0 auto;
}

// // .contacts-container {
//   display: grid;
// }


.footer-nav {
  background-color: $additional-bg-color;
  padding: 40px 20px;
}

.main-footer__copyright-name {
  color: $addithional-text-color;
  font-size: 16px;
  font-family: $Lato;
  font-weight: 400;
  line-height: 20px;
}
