.main-footer-container {
  background-color: $additional-bg-color;
  width: 320px;
  margin: 0 auto;
}

// // .contacts-container {
//   display: grid;
// }


.footer-nav {
  background-color: $additional-bg-color;
}
