// .main-header {
//   width: 100%;
// }

.main-header__container {
  box-sizing: border-box;
  position: relative;
  width: 320px;
  min-height: 52px;
  margin: 0 auto;
  background-color: #ffffff;
  border-bottom: 1px #e6e6e6 solid;
  // display: flex;
  // flex-direction: row;
  // justify-content: space-between;
  // align-items: center;
}

.main-header__logo {
  width: 191px;
  margin-top: 13px;
  margin-left: 20px;
  margin-bottom: 15px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 56px;
  opacity: 1;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-header__logo-img-container {
  width: 33px;
  height: 38px;
  object-fit: contain;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 70px;
    height: 59px;
  }
}

// @media (min-width: $desktop-width) {
//   .main-header__logo-text {
//     position: absolute;
//     top: 85px;
//     left: 194px;
//   }
// }


@media (min-width: $tablet-width) {
  .main-header__container {
    position: relative;
    box-sizing: border-box;
    width: 708px;
    min-height: 50px;
    margin: 0 auto;
    padding: 0;
    padding-top: 25px;
    border-bottom: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .main-header__logo {
    margin: 0;
    width: 174px;
    height: 50px;
    gap: 13px;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    position: relative;
  }

  .main-header__container {
    position: relative;
    width: 1220px;
    min-height: 59px;
    margin: 0 auto;
    padding-top: 55px;
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .main-header--index::before {
    content: "";
    position: absolute;
    top: -55px;
    z-index: -1;
    width: 100%;
    height: 750px;
    background-image: linear-gradient(to right, transparent, transparent 50%, rgba(104, 183, 56, 0.85) 50%, rgba(104, 183, 56, 0.85)), url("../img/index/jpeg/index-hero-background.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: 0% 0%, 50vw bottom;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/index/jpeg/index-hero-background@2x.jpg");
    }
  }

  .main-header__logo {
    margin: 0;
    width: 202px;
    height: 59px;
    gap: 14px;
  }

  .main-header__logo-text {
    width: 118px;
    height: 21px;
  }
}
