.main-header {
  position: relative;
  width: 320px;
  min-height: 65px;
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 13px;
  background-color: #ffffff;
  border-bottom: 1px #e6e6e6 solid;
}

.main-header__container {
  margin: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main-header__logo {
  opacity: 1;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: $tablet-width) {
  .main-header {
    position: relative;
    width: 708px;
    min-height: 50px;
    margin: 0 auto;
    padding: 0;
    padding-top: 25px;
    border-bottom: none;
  }

  .main-header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    position: relative;
    width: 1440px;
    min-height: 59px;
    margin: 0 auto;
    padding: 0;
    padding-top: 55px;
    background: transparent;
  }


  .main-header--index::before {
    content: "";
    position: absolute;
    top: -55px;
    right: 0;
    z-index: -1;
    width: 720px;
    height: 694px;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/index/jpeg/index-hero-background.jpg");
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
  }

  .main-header__container {
    width: 1220;
    margin: 0 110px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
