.main-nav__list {
  display: none;
  min-height: 198px;
  width: 100%;
  margin: 0;
  position: absolute;
  top: 66px;
  right: 0;
  // display: grid;
  grid-template-rows: repeat(3, 66px);
  align-items: center;
  list-style: none;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 20px;
  background-color: #ffffff;
}

.nav-list__item {
  margin: 0 auto;

  a {
    font-size: 20px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 20px;
    text-decoration: none;
    color: #000000;
  }
}
