.product-line-wrapper {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product-line__item {
  min-height: 266px;
  box-sizing: border-box;
  padding-top: 30px;
  background-color: $additional-bg-color;
  color: $base-text-color;
}

.product-line__title {
  margin-left: 90px;
  margin-bottom: 29px;
  color: $base-text-color;
  font-size: 24px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 37px;
}

.product-line__description {
  margin: 0 33px 38px 20px;
  color: $addithional-text-color;
  font-size: 14px;
  font-family: $Lato;
  font-weight: 400;
  line-height: 18px;
}

.product-line__link {
  margin-left: 20px;
  margin-bottom: 18px;
}

@media (min-width: $tablet-width) {
  .product-line-wrapper {
    width: 708px;
    margin-bottom: 45px;
    gap: 30px;
  }

  .product-line__item {
    min-height: 372px;
    box-sizing: border-box;
    padding: 77px 52px 53px 52px;
  }

  .product-line__title {
    margin: 0;
    margin-bottom: 29px;
    font-size: 36px;
    line-height: 36px;
  }

  .product-line__description {
    width: 340px;
    margin: 0;
    margin-bottom: 52px;
    font-size: 16px;
    line-height: 24px;
  }

  .product-line__link {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .product-line-wrapper {
    width: 1220px;
    margin-bottom: 71px;
    flex-direction: row;
    justify-content: space-between;
  }

  .product-line__item {
    width: 570px;
    min-height: 374px;
    box-sizing: border-box;
    padding: 77px 52px 59px 52px;
  }

  .product-line__title {
    margin-left: 162px;
    margin-bottom: 29px;
    font-size: 36px;
    line-height: 36px;
  }

  .product-line__description {
    width: 460px;
    margin: 0;
    margin-bottom: 52px;
    font-size: 16px;
    line-height: 24px;
  }

  .product-line__link {
    margin: 0;
  }
}
