
.social__list {
  min-width: 280px;
  display: flex;
  flex-direction: row;
  align-content: center;
  gap: 24px;
  justify-content: center;
}

.social__item {
  display: block;
  box-sizing: border-box;
  width: 32px;
  text-align: center;
}

.social__link {
  content: "";
  display: block;
  width: 28px;
  height: 22px;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  background-size: cover;
  background-color: #666666;
}

.social__link--vk {
  mask-image: url("img/sprite.svg#icon--vk");
}

.social__link--youtube {
  mask-image: url("img/sprite.svg#icon--youtube");
}

.social__link--tg {
  mask-image: url("img/sprite.svg#icon--tg");
}

.social__link--icon {
  background-color: #666666;
}

.social__link--icon:focus,
.social__link--icon:hover {
  background-color: $accent-color;
}

.social__link--icon:active {
  background-color: rgba(104, 183, 56, 0.3);
}

