.button {
  display: block;
  // min-width: 192px;
  min-height: 40px;
  border: none;
  color: $base-bg-color;
  font-size: 16px;
  font-family: $Oswald;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 20px;
}

.primary-button {
  background-color: $accent-color;

  &:hover {
    background-color: rgb(95, 172, 47);
    color: hsl(0, 0%, 100%);
  }

  &:active {
    background-color: rgb(95, 172, 47);
    color: rgb(100%, 100%, 100%, 0.3);
  }

  &:active text {
    opacity: 0.3;
  }
}

.secondary-button {
  background-color: #f2f2f2;
  color: $addithional-text-color;

  &:hover,
  &:active {
    background-color: #ebebeb;
  }
}

.link-button {
  display: block;
  height: 16px;
  min-width: 89px;
  padding: 4px 57px 4px 0;
  color: $base-text-color;
  font-size: 16px;
  font-family: $Oswald;
  font-weight: 400;
  text-transform: uppercase;
}
