@import "./common/variables.scss";

.button {
  display: block;
  min-width: 192px;
  min-height: 40px;
  padding: 8px 44px;
  border: none;
  color: $base-bg-color;
  font-size: 14px;
  font-family: $Oswald;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 18px;
}

.primary-button {
  background-color: $accent-color;
}

.secondary-button {
  background-color: $additional-bg-color;
  color: $addithional-text-color;
}

.link-button {
  display: block;
  height: 16px;
  min-width: 89px;
  padding: 4px 57px 4px 0;
  color: $base-text-color;
  font-size: 16px;
  font-family: $Oswald;
  font-weight: 400;
  text-transform: uppercase;
}
