body {
  margin: 0;
  padding: 0;
  background-color: $base-bg-color;
  color: $base-text-color;
  font-size: 14px;
  line-height: 18px;
}

body::-webkit-scrollbar {
  width: 0;
}

.text-title {
  margin: 0;
  padding: 0;
}
