body {
  margin: 0;
  padding: 0;
  background-color: $base-bg-color;
  color: $base-text-color;
  font-size: 14px;
  line-height: 18px;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: 0;
}

p {
  margin: 0;
}

dl,
dt,
dd {
  margin: 0;
}
