// Colors
$base-bg-color: #ffffff;
$additional-bg-color: #f2f2f2;
$accent-color: #68b738;
$base-text-color: #000000;
$addithional-text-color: #444444;
$special-grey: #cdcdcd;

// Fonts
$Oswald: "Oswald", sans-serif;
$Lato: "Lato", sans-serif;
$Arial: "Arial", sans-serif;

// Viewports
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;

