@font-face {
  font-family: "Oswald";
  font-weight: 400;
  src: url("../fonts/oswald/oswaldregular.woff2") format("woff2"), url("../fonts/oswald/oswaldregular.woff") format("woff");
  display: swap;
}
@font-face {
  font-family: "Lato";
  font-weight: 400;
  src: url("../fonts/lato/Lato-Regular.woff2") format("woff2"), url("../fonts/lato/Lato-Regular.woff2") format("woff2");
  display: swap;
}
.button {
  display: block;
  min-width: 192px;
  min-height: 40px;
  padding: 8px 44px;
  border: none;
  color: #ffffff;
  font-size: 14px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 18px;
}

.primary-button {
  background-color: #68b738;
}

.secondary-button {
  background-color: #f2f2f2;
  color: #444444;
}

.link-button {
  display: block;
  height: 16px;
  min-width: 89px;
  padding: 4px 57px 4px 0;
  color: #000000;
  font-size: 16px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #000000;
  font-size: 14px;
  line-height: 18px;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  -webkit-text-decoration: 0;
          text-decoration: 0;
}

p {
  margin: 0;
}

dt,
dd {
  margin: 0;
}

.text-liner__wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.text-liner__wrapper::before {
  content: "";
  height: 15px;
  width: calc(50% - 160px);
  border-bottom: 2px solid #68b738;
}

.text-liner__wrapper::after {
  content: "";
  height: 15px;
  width: 10px;
  border-bottom: 2px solid #68b738;
  flex-grow: 1;
}

@media (min-width: 768px) {
  .text-liner__wrapper {
    gap: 40px;
  }

  .text-liner__wrapper::before {
    position: relative;
    height: 22px;
    width: calc(50% - 384px);
  }

  .text-liner__wrapper::after {
    height: 22px;
  }
}
@media (min-width: 1200px) {
  .text-liner__wrapper::before {
    height: 22px;
    width: calc(50% - 650px);
  }
}
.main-header {
  width: 100%;
}

.main-header__container {
  box-sizing: border-box;
  position: relative;
  width: 320px;
  min-height: 65px;
  margin: 0 auto;
  padding: 13px 20px 0 20px;
  background-color: #ffffff;
  border-bottom: 1px #e6e6e6 solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main-header__logo {
  opacity: 1;
}
.main-header__logo:hover {
  opacity: 0.8;
}
.main-header__logo:active {
  opacity: 0.6;
}

@media (min-width: 768px) {
  .main-header__container {
    position: relative;
    width: 708px;
    min-height: 50px;
    margin: 0 auto;
    padding: 0;
    padding-top: 25px;
    border-bottom: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  .main-header {
    position: relative;
  }

  .main-header__container {
    position: relative;
    width: 1440px;
    min-height: 59px;
    margin: 0 auto;
    padding: 55px 110px 0 110px;
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .main-header--index::before {
    content: "";
    position: absolute;
    top: -55px;
    z-index: -1;
    width: 100%;
    height: 694px;
    background-image: linear-gradient(to right, transparent, transparent 50%, rgba(104, 183, 56, 0.85) 50%, rgba(104, 183, 56, 0.85));
  }

  .main-header--index::after {
    display: block;
    content: "";
    width: 720px;
    height: 694px;
    position: absolute;
    top: -55px;
    left: 50%;
    background-image: url("../img/index/jpeg/index-hero-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
  }
}
.logo__container {
  width: 33px;
  height: 38px;
  object-fit: contain;
}
@media (min-width: 768px) {
  .logo__container {
    width: 60px;
    height: 50px;
  }
}
@media (min-width: 1200px) {
  .logo__container {
    width: 70px;
    height: 59px;
  }
}

.logo__text--header {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo__text--footer {
  fill: #111111;
}
.logo__text--footer:focus {
  fill: #3e3e3e;
}
.logo__text--footer:active {
  fill: #6b6b6b;
}

@media (min-width: 768px) {
  .logo__text--header {
    position: absolute;
    top: 50px;
    left: 73px;
    transform: translateY(-50%);
  }
}
@media (min-width: 1200px) {
  .logo__text--header {
    position: absolute;
    top: 85px;
    left: 194px;
  }
}
.main-nav__toggle {
  display: block;
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  background-color: #ffffff;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 26px;
  right: 0;
  width: 24px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}

.main-nav--opened .main-nav__toggle {
  content: "";
  position: absolute;
  top: 26px;
  right: 20px;
  background-color: #ffffff;
  width: 18px;
  height: 18px;
}
.main-nav--opened .main-nav__toggle::before, .main-nav--opened .main-nav__toggle::after {
  content: "";
  top: 8px;
  right: -4px;
  position: absolute;
  width: 24px;
  height: 2px;
  background-color: #000000;
}
.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}
.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}

.main-nav__list {
  display: none;
  width: 100%;
  margin: 0;
  position: absolute;
  top: 65px;
  right: 0;
  list-style: none;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 20px;
  color: #000000;
  background-color: #ffffff;
  z-index: 1;
  border-top: 1px #e6e6e6 solid;
}

.main-nav__list a {
  display: block;
  border-bottom: 1px #e6e6e6 solid;
}

.main-nav__item {
  text-align: center;
  margin: 0 auto;
}
.main-nav__item a {
  padding-top: 22px;
  padding-bottom: 22px;
  text-decoration: none;
  color: #000000;
}

@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    width: 436px;
    min-height: 36px;
    position: relative;
    top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    column-gap: 33px;
    justify-content: start;
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 24px;
    border: none;
  }

  .main-nav__item {
    padding: 0;
    margin: 0 auto;
  }
  .main-nav__item a {
    padding: 0;
    text-decoration: none;
    color: #000000;
    margin-bottom: 10px;
    border: 0;
  }

  .main-nav__item--current {
    border-bottom: 1px #69b738 solid;
  }
}
@media (min-width: 1200px) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    width: 495px;
    min-height: 36px;
    position: relative;
    top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    margin: 0;
    font-size: 20px;
    line-height: 30px;
    background: transparent;
  }

  .main-nav__item {
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .main-header--index .main-nav__item a {
    color: #ffffff;
  }

  .main-header--index .main-nav__item--current {
    border-bottom: 1px #ffffff solid;
  }
}
.hero {
  width: 100%;
  margin: 0 auto;
}

.hero__wrapper {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  min-width: 320px;
  min-height: 302px;
  margin: 0 auto;
  margin-bottom: 137px;
  padding: 27px 35px;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/index/jpeg/hero-background.jpg");
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, contain;
  text-align: center;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}

.hero__title {
  width: 250px;
  margin: 0 auto;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin-bottom: 25px;
}

.hero__slogan {
  width: 250px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.hero__button {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.hero__img-container {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 280px;
  height: 270px;
}
@media (min-width: 768px) {
  .hero__img-container {
    position: absolute;
    width: 709px;
    height: 609px;
    top: 570px;
    left: 50%;
  }
}
@media (min-width: 1200px) {
  .hero__img-container {
    position: absolute;
    width: 552px;
    height: 500px;
    top: 150px;
    left: 740px;
  }
}

@media (min-width: 768px) {
  .hero {
    width: 768px;
    min-height: 810px;
    margin: 0 auto;
  }

  .hero__wrapper {
    box-sizing: border-box;
    min-height: 180px;
    width: 708px;
    padding: 65px 90px 0 90px;
    margin: 0;
    margin-bottom: 50px;
    background-image: none;
    background-color: #ffffff;
    text-align: start;
    color: #000000;
  }

  .hero__title {
    width: 420px;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    margin-left: 0;
    margin-bottom: 40px;
    padding: 0;
  }

  .hero__slogan {
    width: 283px;
    font-size: 20px;
    line-height: 20px;
    margin-left: 0;
    text-transform: uppercase;
    text-align: start;
  }

  .hero__button {
    position: relative;
    z-index: 2;
    width: 244px;
    margin: 0 0 526px 90px;
  }
}
@media (min-width: 1200px) {
  .hero {
    width: 1440px;
    margin: 0 auto;
    min-height: 470px;
  }

  .hero__wrapper {
    box-sizing: border-box;
    min-height: 180px;
    width: 1220px;
    margin: 0 auto;
    padding: 0;
    padding-left: 80px;
    background: transparent;
    text-align: start;
    color: #000000;
  }

  .hero__title {
    width: 414px;
    font-size: 50px;
    line-height: 60px;
    font-weight: 400;
    margin: 110px 0 40px 0;
  }

  .hero__slogan {
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 52px;
  }

  .hero__button {
    position: relative;
    z-index: 2;
    width: 244px;
    margin: 0 0 526px 190px;
  }
}
.product-line-wrapper {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product-line__item {
  position: relative;
  min-height: 266px;
  box-sizing: border-box;
  padding-top: 30px;
  background-color: #f2f2f2;
  color: #000000;
}

.product-line__icon {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  left: 20px;
  background-color: #68b738;
}

.product-line__icon-slim::after {
  content: "";
  position: absolute;
  left: 7px;
  bottom: 3px;
  width: 36px;
  height: 50px;
  background-image: url("../img/index/svg/cat-slim-image.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.product-line__icon-pro::after {
  content: "";
  position: absolute;
  left: -8px;
  bottom: 11px;
  width: 67px;
  height: 28px;
  background-image: url("../img/index/svg/cat-pro-image.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2;
}

.product-line__title {
  margin-left: 90px;
  margin-bottom: 29px;
  color: #000000;
  font-size: 24px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 37px;
}

.product-line__description {
  margin: 0 33px 38px 20px;
  color: #444444;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 18px;
}

.product-line__description::after {
  content: "";
  position: absolute;
  left: 20px;
  bottom: 57px;
  width: 240px;
  height: 1px;
  background-color: #cdcdcd;
}

.product-line__link {
  margin-left: 20px;
  margin-bottom: 18px;
  font-size: 20px;
}

@media (min-width: 768px) {
  .product-line-wrapper {
    width: 708px;
    margin-bottom: 45px;
    gap: 30px;
  }

  .product-line__item {
    min-height: 372px;
    box-sizing: border-box;
    padding: 77px 52px 53px 52px;
  }

  .product-line__icon {
    width: 200px;
    height: 200px;
    left: 445px;
    top: 92px;
  }

  .product-line__icon-slim::after {
    content: "";
    position: absolute;
    left: 30px;
    bottom: 17px;
    width: 140px;
    height: 194px;
  }

  .product-line__icon-pro::after {
    content: "";
    position: absolute;
    left: -34px;
    bottom: 44px;
    width: 269px;
    height: 112px;
  }

  .product-line__description::after {
    display: none;
  }

  .product-line__title {
    margin: 0;
    margin-bottom: 29px;
    font-size: 36px;
    line-height: 36px;
  }

  .product-line__description {
    width: 340px;
    margin: 0;
    margin-bottom: 52px;
    font-size: 16px;
    line-height: 24px;
  }

  .product-line__link {
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .product-line-wrapper {
    box-sizing: border-box;
    width: 1440px;
    margin: 0 auto;
    padding: 0 110px 71px 110px;
    flex-direction: row;
    justify-content: space-between;
    gap: 80px;
  }

  .product-line__item {
    width: 570px;
    min-height: 374px;
    box-sizing: border-box;
    padding: 77px 52px 59px 52px;
  }

  .product-line__icon {
    width: 100px;
    height: 100px;
    left: 52px;
    top: 47px;
  }

  .product-line__icon-slim::after {
    content: "";
    position: absolute;
    left: 15px;
    bottom: 9px;
    width: 70px;
    height: 97px;
  }

  .product-line__icon-pro::after {
    content: "";
    position: absolute;
    left: -19px;
    bottom: 24px;
    width: 134px;
    height: 56px;
  }

  .product-line__title {
    margin-left: 162px;
    margin-bottom: 73px;
    font-size: 36px;
    line-height: 36px;
  }

  .product-line__description {
    width: 460px;
    margin: 0;
    margin-bottom: 27px;
  }

  .product-line__link {
    margin: 0;
  }
}
.advantages-wrapper {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 49px;
}

.advantages__title {
  margin-bottom: 40px;
  color: #000000;
  font-size: 36px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  line-height: 40px;
}

.advantages__item {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.advantages__item:last-child {
  margin-bottom: 0;
}

.advantages__description {
  display: block;
  width: 200px;
  color: #444444;
  font-family: "Lato", sans-serif;
}

.advantages__icon {
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 15px;
  background-color: #68b738;
  text-align: center;
}

@media (min-width: 768px) {
  .advantages-wrapper {
    width: 708px;
    margin: 0 auto;
    margin-bottom: 45px;
  }

  .advantages__title {
    margin-bottom: 32px;
    font-size: 60px;
    line-height: 60px;
  }

  .advantages__list {
    min-height: 597px;
    margin-bottom: 72px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  .advantages__item {
    position: relative;
    width: 250px;
    margin-right: 80px;
    margin-bottom: 37px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 31px;
  }

  .advantages__item:last-child {
    margin-bottom: 20px;
  }

  .advantages__item:nth-of-type(1)::before {
    position: absolute;
    top: 0;
    left: 113px;
    content: "1";
    font-size: 280px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    line-height: 280px;
    color: #f2f2f2;
    z-index: -1;
  }

  .advantages__item:nth-of-type(2)::before {
    position: absolute;
    top: 0;
    left: 113px;
    content: "2";
    font-size: 280px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    line-height: 280px;
    color: #f2f2f2;
    z-index: -1;
  }

  .advantages__item:nth-of-type(3)::before {
    position: absolute;
    top: 0;
    left: 113px;
    content: "3";
    font-size: 280px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    line-height: 280px;
    color: #f2f2f2;
    z-index: -1;
  }

  .advantages__item:nth-of-type(4)::before {
    position: absolute;
    top: 0;
    left: 113px;
    content: "4";
    font-size: 280px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    line-height: 280px;
    color: #f2f2f2;
    z-index: -1;
  }

  .advantages__icon {
    width: 80px;
    height: 80px;
    padding: 25px;
  }

  .advantages__description {
    width: 250px;
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1200px) {
  .advantages-wrapper {
    box-sizing: border-box;
    width: 1400px;
    margin: 0 auto;
    padding: 0 110px 69px 110px;
  }

  .advantages__list {
    min-height: 280px;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 60px;
  }

  .advantages__item {
    width: 245px;
    margin: 0;
  }
}
.example-wrapper {
  width: 100%;
  background-color: #eaeaea;
}

.example__container {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  padding: 25px 20px 40px 20px;
}

.example__title {
  margin-bottom: 40px;
  color: #000000;
  font-size: 36px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  line-height: 40px;
}

.example__intro {
  margin-bottom: 20px;
  color: #444444;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 18px;
}

.example__list {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.example__item {
  box-sizing: border-box;
  width: 124px;
  height: 56px;
  padding-top: 14px;
  margin-bottom: 20px;
  border: 1px #cdcdcd solid;
  border-radius: 3px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.example__number {
  margin-bottom: 8px;
  color: #000000;
  font-size: 24px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

.example__description {
  display: block;
  box-sizing: border-box;
  width: 85px;
  z-index: 2;
  padding: 0 6px;
  margin: 0 auto;
  color: #444444;
  font-size: 12px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 12px;
  text-align: center;
  background-color: #eaeaea;
}

.example__cost {
  display: block;
  margin-bottom: 20px;
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 20px;
  text-align: center;
}

.example__foto {
  display: block;
  margin: 0 auto;
}

.example__slider {
  width: 280px;
  height: 256px;
}

@media (min-width: 768px) {
  .example-wrapper {
    border-top: 1px #e6e6e6 solid;
    background: linear-gradient(to top, #eaeaea, #eaeaea 462px, #ffffff 462px, #ffffff 100%);
  }

  .example__container {
    box-sizing: border-box;
    width: 768px;
    min-height: 1081px;
    margin: 0 auto;
    padding: 45px 30px 101px 30px;
  }

  .example__title {
    margin-bottom: 60px;
    font-size: 60px;
    line-height: 60px;
  }

  .example__intro {
    margin-bottom: 55px;
    font-size: 16px;
    line-height: 24px;
  }

  .example__facts {
    width: 708px;
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

  .example__list {
    width: 367px;
    margin-right: 10px;
    margin-bottom: 99px;
  }

  .example__item {
    display: inline;
    box-sizing: border-box;
    width: 162px;
    height: 72px;
    padding-top: 15px;
    margin-bottom: 0;
  }

  .example__number {
    margin-bottom: 11px;
    font-size: 30px;
    line-height: 37px;
  }

  .example__description {
    box-sizing: border-box;
    width: 140px;
    z-index: 2;
    padding: 0 6px;
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
  }

  .example__cost {
    width: 174px;
    margin-top: 20px;
    font-size: 20px;
    line-height: 20px;
    text-align: end;
  }

  .example__slider {
    display: block;
    margin: 0 auto;
    width: 560px;
    height: 512px;
  }
}
@media (min-width: 1200px) {
  .example-wrapper {
    border-top: none;
    background: linear-gradient(to top, #f2f2f2, #f2f2f2 462px, #ffffff 462px, #ffffff 100%);
  }

  .example__container {
    box-sizing: border-box;
    width: 1440px;
    min-height: 594px;
    margin: 0 auto;
    padding: 0 110px 75px 110px;
    display: grid;
    grid-template-columns: auto 560px;
    grid-template-areas: "title slider" "intro slider" "facts slider";
  }

  .example__title {
    margin-bottom: 146px;
    grid-area: title;
  }

  .example__intro {
    width: 433px;
    margin-bottom: 69px;
    grid-area: intro;
  }

  .example__facts {
    flex-direction: column;
    grid-area: facts;
  }

  .example__list {
    margin: 0;
    margin-bottom: 55px;
  }

  .example__description {
    background-color: #f2f2f2;
  }

  .example__cost {
    width: auto;
  }

  .example__slider {
    grid-area: slider;
  }
}
.footer-wrapper--contacts-main {
  background-color: #ffffff;
  width: 100%;
}

.footer-wrapper--contacts {
  background-color: #f2f2f2;
  width: 100%;
}

.footer-wrapper--navigation {
  background-color: #f2f2f2;
  width: 100%;
}

.footer-container {
  width: 320px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .footer-container {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .footer-wrapper--contacts-main {
    background-color: #f2f2f2;
  }

  .footer-container {
    width: 1440px;
  }
}
.footer-navigation-container {
  width: 320px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  padding: 40px 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.footer-navigation__copyright {
  width: 280px;
}

.footer-navigation__copyright-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer-navigation__copyright-logo:focus svg {
  fill: #68b738;
}

.footer-navigation__copyright-logo:active svg {
  fill: rgba(104, 183, 56, 0.3);
}

.footer-navigation__copyright-logo:active span {
  color: rgba(68, 68, 68, 0.3);
}

.footer-navigation__copyright-name {
  display: block;
  color: #444444;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 20px;
  align-self: center;
}

.footer-navigation__social {
  position: relative;
}
.footer-navigation__social::before, .footer-navigation__social::after {
  content: "";
  position: absolute;
  width: 280px;
  height: 1px;
  background-color: #d9d9d9;
}
.footer-navigation__social::before {
  top: -20px;
}
.footer-navigation__social::after {
  top: 42px;
}

.footer-navigation__copyright-icon {
  fill: #666666;
}

@media (min-width: 768px) {
  .footer-navigation-container {
    width: 768px;
    padding: 55px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
  }

  .footer-navigation__copyright {
    width: 168px;
  }

  .footer-navigation__copyright-logo {
    justify-content: end;
    gap: 23px;
  }

  .footer-navigation__social::before,
.footer-navigation__social::after {
    display: none;
  }
}
@media (min-width: 1200px) {
  .footer-navigation-container {
    width: 1440px;
    padding: 66px 110px;
  }
}
.social__list {
  min-width: 280px;
  display: flex;
  flex-direction: row;
  align-content: center;
  gap: 24px;
  justify-content: center;
}

.social__item {
  display: block;
  box-sizing: border-box;
  width: 32px;
  text-align: center;
}

.social__link {
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
}

.social__icon {
  fill: #666666;
}

.social__link:focus .social__icon {
  fill: #68b738;
}

.social__link:active .social__icon {
  fill: rgba(104, 183, 56, 0.3);
}

.contacts-wrapper {
  width: 100%;
  background-color: #ffffff;
}

.contacts-wrapper--main {
  background-color: #ffffff;
}

.contacts-container {
  width: 320px;
  margin: 0 auto;
}

.contacts-container-text {
  padding: 26px 20px;
  display: flex;
  justify-content: space-between;
}

.contacts__title {
  width: 140px;
  min-height: 60px;
  color: #111111;
  font-size: 16px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 20px;
}

.contacts__adress {
  width: 140px;
  min-height: 60px;
  color: #444444;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 20px;
}

.contacts__map {
  width: 320px;
  height: 362px;
}

.contacts__map iframe {
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .contacts-container {
    width: 768px;
    margin: 0 auto;
  }

  .contacts-container-text {
    padding: 61px 70px;
    margin: 0;
  }

  .contacts__title {
    width: 163px;
    min-height: 78px;
    font-size: 20px;
    line-height: 26px;
  }

  .contacts__adress {
    display: block;
    width: 157px;
    min-height: 80px;
    color: #444444;
    font-size: 16px;
  }

  .contacts__map {
    margin: 0 auto;
    width: 768px;
    height: 400px;
  }
}
@media (min-width: 1200px) {
  .contacts-container {
    width: 1440px;
    position: relative;
  }

  .contacts-container-text {
    box-sizing: border-box;
    width: 565px;
    min-height: 199px;
    background-color: #ffffff;
    position: absolute;
    top: 95px;
    left: 110px;
    padding: 60px 80px;
    margin-bottom: 0;
  }

  .contacts__map {
    width: 1440px;
    margin: 0 auto;
    height: 400px;
  }
}
.catalog-container {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding-top: 27px;
}

.catalog__title {
  margin: 0 20px 41px 20px;
  color: #000000;
  font-size: 36px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  line-height: 36px;
}

.catalog__item {
  box-sizing: border-box;
  padding: 0;
  padding-bottom: 25px;
}

@media (min-width: 768px) {
  .catalog-container {
    width: 708px;
    padding-top: 65px;
    margin-bottom: 70px;
  }

  .catalog__title {
    margin: 0 0 84px 0;
    color: #000000;
    font-size: 60px;
    line-height: 60px;
  }

  .catalog__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: start;
  }

  .catalog__item {
    box-sizing: border-box;
    width: 324px;
    min-height: 511px;
    background-color: #f2f2f2;
    padding: 10px 37px 40px 37px;
  }
}
@media (min-width: 1200px) {
  .catalog-container {
    width: 1220px;
    padding-top: 74px;
    margin-bottom: 76px;
  }

  .catalog__list {
    gap: 63px 80px;
  }

  .catalog__item {
    box-sizing: border-box;
    width: 245px;
    min-height: 511px;
    background-color: #f2f2f2;
    padding: 10px 37px 40px 37px;
  }
}
.product-card {
  box-sizing: border-box;
  min-height: 209px;
  padding: 20px;
  padding-bottom: 25px;
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: auto 17px 40px;
  grid-template-areas: "img text" ". ." "button button";
  border-top: 1px #ebebeb solid;
  border-bottom: 1px #ebebeb solid;
}

.product-card__img-wrapper {
  grid-area: img;
  width: 140px;
  height: 107px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-card__img-wrapper picture {
  display: block;
}

.product-card__img {
  display: block;
}

.product-card__description {
  grid-area: text;
  min-height: 107px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.product-card__title {
  width: 80px;
  color: #222222;
  font-size: 16px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 20px;
}

.product-card__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #444444;
  font-size: 12px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 16px;
}

.product-card__button {
  grid-area: button;
  width: 280px;
}

@media (min-width: 768px) {
  .product-card {
    width: 324px;
    min-height: 511px;
    padding: 10px 37px 40px 37px;
    border: none;
    background: linear-gradient(to top, #f2f2f2, #f2f2f2 430px, #ffffff 430px, #ffffff 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .product-card:last-child {
    background-color: #ffffff;
  }

  .product-card__img-wrapper {
    width: 200px;
    height: 210px;
    margin-bottom: 22px;
  }

  .product-card__description {
    align-items: center;
    min-height: 152px;
    justify-content: space-between;
    margin-bottom: 37px;
  }

  .product-card__title {
    width: 135px;
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    text-align: center;
  }

  .product-card__features {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
  }

  .product-card__item {
    position: relative;
    width: 250px;
    font-size: 16px;
    line-height: 20px;
  }

  .product-card__item::before {
    content: "";
    position: absolute;
    width: 248px;
    height: 1px;
    background-color: #cdcdcd;
    top: 25px;
  }

  .product-card__button {
    width: 250px;
  }
}
@media (min-width: 1200px) {
  .product-card {
    width: 324px;
    min-height: 511px;
    padding: 10px 37px 40px 37px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .product-card__img-wrapper {
    width: 200px;
    height: 210px;
    margin-bottom: 40px;
  }

  .product-card__description {
    align-items: center;
    min-height: 152px;
  }

  .product-card__title {
    width: 135px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  .product-card__features {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
  }

  .product-card__item {
    position: relative;
    width: 250px;
    font-size: 16px;
    line-height: 20px;
  }

  .product-card__item::before {
    content: "";
    position: absolute;
    width: 248px;
    height: 1px;
    background-color: #cdcdcd;
  }

  .product-card__button {
    width: 250px;
  }
}
@media (min-width: 1200px) {
  .product-card {
    width: 245px;
    min-height: 430px;
    padding: 10px 42px 40px 42px;
  }

  .product-card__img-wrapper {
    width: 169px;
    height: 210px;
    margin-bottom: 12px;
  }

  .product-card__description {
    min-height: 167px;
    gap: 23px;
  }

  .product-card__title {
    width: 140px;
    text-align: center;
  }

  .product-card__item {
    width: 169px;
  }

  .product-card__item::before {
    width: 169px;
    top: 25px;
  }

  .product-card__button {
    width: 169px;
  }
}
.empty-card {
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.empty-card__description {
  width: 219px;
  margin-bottom: 21px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.empty-card__icon {
  width: 30px;
  height: 30px;
  content: "";
  background-image: url("/source/img/catalog/svg/icon_plus.svg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 23px;
}

.empty-card__title {
  margin-bottom: 8px;
  color: #111111;
  font-size: 16px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 20px;
  text-align: center;
}

.empty-card__text {
  color: #444444;
  font-size: 12px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
}

.empty-card__button {
  width: 280px;
}

@media (min-width: 768px) {
  .empty-card {
    margin-top: 82px;
    min-height: 429px;
    background-color: #ffffff;
    padding: 50px 20px 40px 20px;
    border: 1px #f2f2f2 solid;
  }

  .empty-card__description {
    width: 170px;
    margin-bottom: 82px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .empty-card__icon {
    width: 60px;
    height: 60px;
    margin-bottom: 50px;
  }

  .empty-card__title {
    margin-bottom: 23px;
    font-size: 20px;
    line-height: 24px;
  }

  .empty-card__text {
    font-size: 16px;
    line-height: 18px;
  }

  .empty-card__button {
    width: 250px;
  }
}
@media (min-width: 1200px) {
  .empty-card {
    margin-top: 82px;
    min-height: 429px;
    background-color: #ffffff;
    padding: 50px 20px 40px 20px;
    border-top: 1px #f2f2f2 solid;
  }

  .empty-card__description {
    width: 170px;
    margin-bottom: 90px;
  }

  .empty-card__icon {
    margin-bottom: 40px;
  }

  .empty-card__title {
    margin-bottom: 26px;
  }

  .empty-card__text {
    font-size: 16px;
    line-height: 18px;
  }

  .empty-card__button {
    width: 169px;
  }
}
.additional-products-container {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  padding: 0 20px 35px 20px;
}

.additional-products__title {
  margin-bottom: 36px;
  color: #000000;
  font-size: 24px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  line-height: 24px;
}

.additional-products__list {
  display: flex;
  flex-direction: column;
}

.additional-products__item {
  box-sizing: border-box;
  min-height: 130px;
  padding-top: 12px;
  padding-bottom: 19px;
  border-bottom: 1px #cdcdcd solid;
  display: flex;
  flex-direction: column;
}
.additional-products__item:first-child {
  border-top: 1px #cdcdcd solid;
}

.additional-products__name {
  margin-bottom: 13px;
  color: #222222;
  font-size: 16px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 16px;
}

.additional-products__features {
  margin-bottom: 15px;
  color: #444444;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.additional-products__button {
  width: 280px;
}

.additional-products__bonus-card {
  box-sizing: border-box;
  margin-top: 35px;
  min-height: 290px;
  padding-top: 58px;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("/source/img/catalog/png/gift-background.png");
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: start;
  align-items: center;
}

.additional-products__bonus-description {
  color: #ffffff;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 20px;
}

@media (min-width: 768px) {
  .additional-products-container {
    width: 768px;
    padding: 0 30px 75px 30px;
  }

  .additional-products__title {
    margin-bottom: 80px;
    margin-left: 40px;
    font-size: 36px;
    line-height: 36px;
  }

  .additional-products__item {
    min-height: 140px;
    padding: 26px 37px 28px 37px;
    border-bottom: none;
    border: 1px #cdcdcd solid;
    display: grid;
    grid-template-columns: 316px 316px;
    grid-template-rows: auto 40px;
    grid-template-areas: "name features" "button button";
  }

  .additional-products__name {
    font-size: 20px;
    line-height: 20px;
    grid-area: name;
    align-self: baseline;
  }

  .additional-products__features {
    font-size: 16px;
    line-height: 20px;
    grid-area: features;
    align-self: baseline;
    justify-content: end;
    gap: 50px;
  }

  .additional-products__button {
    width: 632px;
    grid-area: button;
  }

  .additional-products__bonus-card {
    margin-top: 70px;
    min-height: 200px;
    padding: 0;
    padding-left: 77px;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("/source/img/catalog/png/gift-background-large.png");
    flex-direction: row;
    gap: 264px;
  }

  .additional-products__bonus-description {
    width: 161px;
  }
}
@media (min-width: 1200px) {
  .additional-products-container {
    box-sizing: border-box;
    width: 1220px;
    padding: 0;
    margin-bottom: 87px;
    display: grid;
    grid-template-columns: 975px 245px;
  }

  .additional-products__title {
    margin-left: 0;
  }

  .additional-products__list {
    width: 895px;
  }

  .additional-products__item {
    padding: 0;
    min-height: 70px;
    display: grid;
    grid-template-columns: 325px 325px 244px;
    grid-template-rows: 72px;
    grid-template-areas: "name features button";
    align-items: center;
    justify-content: center;
    border: none;
    border-top: 1px #cdcdcd solid;
    border-bottom: 1px #cdcdcd solid;
  }

  .additional-products__name {
    align-self: center;
    margin: 0;
  }

  .additional-products__features {
    margin: 0;
    display: grid;
    grid-template-columns: 243px 82px;
    align-self: center;
    justify-content: start;
    gap: 0;
  }

  .additional-products__button {
    width: 244px;
  }

  .additional-products__bonus-card {
    margin-top: 0;
    min-height: 288px;
    height: 100%;
    padding: 0;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("/source/img/catalog/png/gift-background.png");
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    flex-direction: column;
    justify-content: center;
    gap: 46px;
    align-items: center;
  }

  .additional-products__bonus-description {
    width: 161px;
    text-align: center;
  }
}
.form {
  color: #444444;
  font-size: 16px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 18px;
}

.form-container {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
}

.form__title {
  margin: 27px 20px 37px 20px;
  color: #000000;
  font-size: 36px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  line-height: 36px;
  text-transform: none;
}

.form__subtitle {
  color: #000000;
  font-size: 24px;
  line-height: 26px;
  word-wrap: normal;
  text-transform: none;
}

.form__subtitle--contact {
  width: 187px;
}

.form__subtitle--comment {
  margin-top: 0;
}

.form__description {
  margin: 0 20px 15px 20px;
  color: #000000;
  font-size: 14px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 18px;
}

.form__fieldset {
  margin: 0;
  box-sizing: border-box;
  padding: 24px 20px;
  border: none;
}

.form__fieldset--radio {
  margin: 0;
  margin-bottom: 26px;
  padding: 22px 20px;
  border-top: 1px #d9d9d9 solid;
  border-bottom: 1px #d9d9d9 solid;
}

.control {
  position: relative;
}

.control-label {
  margin: 5px 0 5px 45px;
}
@media (min-width: 768px) {
  .control-label {
    margin: 5px 0 5px 60px;
  }
}

.form__item {
  margin-bottom: 14px;
}

.form__item label {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 13px;
}

.form__item input {
  box-sizing: border-box;
  width: 100%;
  height: 45px;
  padding: 14px 15px 13px 15px;
  border: 1px #e7e7e7 solid;
  font-size: 16px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 18px;
}
@media (min-width: 768px) {
  .form__item input {
    height: 52px;
  }
}

.form__item--radio label {
  margin-bottom: 13px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 15px;
}

.form__item--radio:last-child label {
  margin-bottom: 0;
}

.radio-mark {
  content: "";
  box-sizing: border-box;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px #cdcdcd solid;
  border-radius: 50%;
  left: 0;
}
@media (min-width: 768px) {
  .radio-mark {
    width: 40px;
    height: 40px;
  }
}

.control-input[type=radio]:checked + .radio-mark {
  background-image: url("/source/img/form/svg/radio-button.svg");
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}

.control-mark {
  content: "";
  box-sizing: border-box;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 2px #cdcdcd solid;
}
@media (min-width: 768px) {
  .control-mark {
    width: 40px;
    height: 40px;
  }
}

.control-input[type=checkbox]:checked + .control-mark {
  background-image: url("/source/img/form/svg/checkbox-button.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

textarea {
  box-sizing: border-box;
  margin: 27px 20px 23px 20px;
  padding: 14px 14px;
  width: 280px;
  min-height: 150px;
  resize: vertical;
  border: 1px #cdcdcd solid;
  font-size: 16px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 18px;
}

.form__item--checkbox label {
  margin-bottom: 13px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 15px;
}

.form__item--checkbox input {
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px #cdcdcd solid;
}

.form__button {
  margin: 12px 20px 21px 20px;
  width: 280px;
}

.form__note {
  margin-bottom: 32px;
  text-align: center;
  color: #000000;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 16px;
  text-transform: none;
}

@media (min-width: 768px) {
  .form {
    font-size: 20px;
    line-height: 30px;
  }

  .form-container {
    width: 628px;
    margin: 0 auto;
  }

  .form__title {
    margin: 65px 0 54px 0;
    font-size: 60px;
    line-height: 60px;
  }

  .form__subtitle {
    margin: 0;
    font-size: 36px;
    line-height: 36px;
  }

  .form__subtitle--contact {
    width: auto;
  }

  .form__description {
    width: 325px;
    margin: 0;
    margin-bottom: 66px;
    font-size: 20px;
    line-height: 30px;
  }

  .form__item {
    margin-bottom: 20px;
  }

  .form__fieldset {
    margin: 76px 0 65px 0;
    padding: 0;
    border: none;
  }

  .form__fieldset--radio {
    margin: 0;
    margin-bottom: 65px;
    padding: 23px 27px;
    border: 1px #d9d9d9 solid;
  }

  textarea {
    margin: 87px 0 65px 0;
    padding: 11px 20px;
    width: 628px;
    min-height: 175px;
    font-size: 20px;
    line-height: 30px;
  }

  .form-checkbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: start;
  }

  .form__button-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: start;
    align-items: center;
    margin-bottom: 60px;
  }

  .form__button {
    width: 284px;
    min-height: 54px;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 26px;
    margin: 0;
  }

  .form__item--checkbox label {
    width: 298px;
    margin: 0;
    gap: 20px;
  }

  .form__item--checkbox input {
    width: 40px;
    height: 40px;
  }

  .form__note {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .form-container {
    width: 1220px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 80px;
  }

  .form__preface {
    width: 1220px;
  }

  .form__title {
    margin-top: 77px;
    margin-bottom: 55px;
  }

  .form__subtitle {
    font-size: 36px;
    line-height: 36px;
  }

  .form__discription {
    margin-bottom: 76px;
  }

  .form__fieldset {
    margin-bottom: 70px;
  }

  .form__list--contacts {
    width: 1220px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 80px;
  }

  .form__item--contacts {
    width: 570px;
  }

  .form__personal-info {
    margin: 0;
    width: 570px;
  }

  .form__fieldset--radio {
    width: 570px;
  }

  .form-checkbox {
    width: 1220px;
    gap: 0;
  }

  textarea {
    width: 1220px;
  }

  .form__item--checkbox label {
    width: 325px;
  }

  .form__item--checkbox:last-child label {
    width: 245px;
  }

  .form__button-wrapper {
    width: 1220px;
    margin-bottom: 79px;
    justify-content: start;
  }

  .form__button {
    margin: 0;
    width: 570px;
  }

  .form__note {
    display: block;
    text-align: start;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=style.css.map */