@import "./common/fonts.scss";
@import "./common/variables.scss";
@import "./common/button.scss";
@import "./common/visually-hidden.scss";
@import "./common/global.scss";
@import "./blocks/main-header.scss";
@import "./blocks/logo.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/nav-list.scss";
@import "./blocks/hero.scss";
@import "./blocks/product-line.scss";
@import "./blocks/advantages.scss";
@import "./blocks/example.scss";
@import "./blocks/main-footer.scss";
@import "./blocks/footer.scss";
@import "./blocks/footer-navigation.scss";
@import "./blocks/social.scss";
@import "./blocks/contacts.scss";
@import "./blocks/catalog.scss";
@import "./blocks/product-card.scss";
@import "./blocks/empty-card.scss";
@import "./blocks/additional-products.scss";
@import "./blocks/form.scss";
